.container {
  margin-top: 100px;
  width: 50%;
}

#total {
  background-color: rgba(253, 253, 253, 0.5);
}
#emoji {
  background-color: rgba(108, 99, 255, 0.5);
}

.emoji {
  font-size: 25px;
}
.temp {
  font-size: 20px;
}
#cel-link {
  text-decoration: none;
}
#fah-link {
  text-decoration: none;
}
#temperature {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0px;
}
#units {
  position: relative;
  font-size: 16px;
  top: -25px;
}
#faren-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}
#city {
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
}
#description {
  text-transform: capitalize;
}
#formm {
  background-color: #6c63ff;
}
#icon {
  position: relative;
  top: -23px;
  height: 100px;
  width: 110px;
}
#Humidity {
  margin-top: 10px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
#emoji {
  border: rgb(255, 0, 43);
  border-width: 2px;
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
}
.weather-forcast-date {
  font-size: 18px;
}
.weather-forcast-temp {
  font-size: 15px;
}

#eachforecast {
  background-color: white;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}
.weather-forcast-temp-max {
  font-weight: bold;
}
body {
  background-image: url("https://slm-assets.secondlife.com/assets/14823847/lightbox/-Sky-Wallpapers.jpg?1471481111");
  background-repeat: no-repeat;
  background-size: cover;
}
